---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hello.</h1>
      <h4>My name is Benjamin Sengupta.</h4>
      <p>
        I'm a Computer Science student at the University of Guelph in Ontario,
        Canada. I have experience building apps with TypeScript & React, and am
        always looking for ways to become a better developer.
      </p>
      <p>
        Outside of programming, I enjoy bouldering, playing video games, and
        spending time with family & friends.
      </p>
    </main>
    <Footer />
  </body>
</html>
